<div class="container mx-auto p-10">
  <div class="flex">
    <svg
      role="presentation"
      aria-hidden="true"
      class="cursor-pointer"
      viewBox="0 0 24 24"
      height="30"
      width="30"
      (click)="onClickBack()"
    >
      <path d="M16.41 5.41L15 4l-8 8 8 8 1.41-1.41L9.83 12"></path>
    </svg>
    <h1 class="text-2xl font-medium mb-4 ml-2">
      {{ vehicle.id > 0 ? "Update Vehicle" : "New Vehicle" }}
    </h1>
  </div>
  @if(!isLoading){
  <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- Make Selection -->
    <div class="mb-4">
      <label for="make" class="block text-sm font-medium mb-1">Make</label>
      <select
        id="make"
        class="block w-full border border-gray-300 rounded-md p-2"
        (change)="onMakeChange()"
        [(ngModel)]="vehicle.makeId"
        name="makeId"
        required
        #make="ngModel"
      >
        <option value=""></option>
        <option *ngFor="let make of makes" [value]="make.id">
          {{ make.name }}
        </option>
      </select>
      <div *ngIf="make.touched && !make.valid" class="text-red-600 mt-1">
        Please specify the make.
      </div>
    </div>

    <!-- Model Selection -->
    <div class="mb-4">
      <label for="model" class="block text-sm font-medium mb-1">Model</label>
      <select
        id="model"
        class="block w-full border border-gray-300 rounded-md p-2"
        [(ngModel)]="vehicle.modelId"
        name="modelId"
        required
        #model="ngModel"
      >
        <option value=""></option>
        <option *ngFor="let model of models" [value]="model.id">
          {{ model.name }}
        </option>
      </select>
      <div *ngIf="model.touched && !model.valid" class="text-red-600 mt-1">
        Please specify the model.
      </div>
    </div>

    <!-- Registration Radio Buttons -->
    <p class="mb-2">Is this vehicle registered?</p>
    <label class="inline-flex items-center mr-4">
      <input
        type="radio"
        name="isRegistered"
        [value]="true"
        [(ngModel)]="vehicle.isRegistered"
        class="form-radio text-blue-600"
      />
      <span class="ml-2">Yes</span>
    </label>
    <label class="inline-flex items-center">
      <input
        type="radio"
        name="isRegistered"
        [value]="false"
        [(ngModel)]="vehicle.isRegistered"
        class="form-radio text-blue-600"
      />
      <span class="ml-2">No</span>
    </label>

    <!-- Features -->
    <h2 class="text-lg font-semibold mt-4">Features</h2>
    <div class="mb-4">
      <div *ngFor="let feature of features">
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            id="feature{{ feature.id }}"
            (change)="onFeatureToggle(feature.id, $event)"
            [checked]="vehicle.features.includes(feature.id)"
            class="form-checkbox text-blue-600"
          />
          <span class="ml-2">{{ feature.name }}</span>
        </label>
      </div>
    </div>

    <!-- Contact Information -->
    <h2 class="text-lg font-semibold mt-4">Contact</h2>
    <div class="mb-4">
      <label for="contactName" class="block text-sm font-medium mb-1"
        >Name</label
      >
      <input
        id="contactName"
        type="text"
        class="block w-full border border-gray-300 rounded-md p-2"
        [(ngModel)]="vehicle.contact.name"
        name="contactName"
        required
        #contactName="ngModel"
      />
      <div
        *ngIf="contactName.touched && !contactName.valid"
        class="text-red-600 mt-1"
      >
        Please specify the Name.
      </div>
    </div>

    <div class="mb-4">
      <label for="contactPhone" class="block text-sm font-medium mb-1"
        >Phone</label
      >
      <input
        id="contactPhone"
        type="text"
        class="block w-full border border-gray-300 rounded-md p-2"
        [(ngModel)]="vehicle.contact.phone"
        name="contactPhone"
        required
        #contactPhone="ngModel"
      />
      <div
        *ngIf="contactPhone.touched && !contactPhone.valid"
        class="text-red-600 mt-1"
      >
        Please specify the Phone.
      </div>
    </div>

    <div class="mb-4">
      <label for="contactEmail" class="block text-sm font-medium mb-1"
        >Email</label
      >
      <input
        id="contactEmail"
        type="text"
        class="block w-full border border-gray-300 rounded-md p-2"
        [(ngModel)]="vehicle.contact.email"
        name="contactEmail"
        required
        #contactEmail="ngModel"
      />
      <div
        *ngIf="contactEmail.touched && !contactEmail.valid"
        class="text-red-600 mt-1"
      >
        Please specify the Email.
      </div>
    </div>

    <div class="mt-4">
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-md"
        [disabled]="!f.valid"
      >
        Save
      </button>
      <ng-container *ngIf="vehicle.id">
        <button
          class="bg-red-600 text-white px-4 py-2 rounded-md ml-2"
          type="button"
          (click)="onClickDelete()"
        >
          Delete
        </button>
      </ng-container>
    </div>
  </form>
  }@else{
  <div class="min-w-full mt-10 p-10 bg-white">
    <app-loading></app-loading>
  </div>
  }
</div>
