<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Vega</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    #collapse="ngbCollapse"
    [(ngbCollapse)]="isCollapsed"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="vehicles/">Vehicles</a>
      </li>
    </ul>
  </div>
</nav>
