@if(totalItems > pageSize) {
<nav class="mt-8">
  <ul class="flex justify-center space-x-1">
    <li [class.disabled]="currentPage == 1" class="page-item">
      <a
        (click)="onClickPrevious()"
        aria-label="Previous"
        class="px-4 py-2 bg-white border border-gray-300 rounded-l-lg"
        [ngClass]="{
          'cursor-pointer text-gray-600 hover:bg-gray-100': !isLoading
          'cursor-default pointer-events-none text-gray-400': isLoading
        }"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    @for(page of pages; track page) {
    <li
      class="page-item"
      [class.active]="currentPage == page"
      (click)="onChangePage(page)"
    >
      <a
        class="px-4 py-2"
        [ngClass]="{
          'cursor-default pointer-events-none bg-brighter-orange text-white' = currentPage == page && isLoading,
          'cursor-default pointer-events-none text-gray-400': currentPage != page && isLoading,
          'cursor-pointer bg-bright-orange hover:bg-burnt-orange' text-white': currentPage == page && !isLoading,
          'cursor-pointer text-gray-600 hover:bg-gray-100': currentPage != page && !isLoading
        }"
      >
        {{ page }}
      </a>
    </li>
    }
    <li class="page-item" [class.disabled]="currentPage == pages.length">
      <a
        (click)="onClickNext()"
        aria-label="Next"
        class="px-4 py-2 bg-white border border-gray-300 rounded-r-lg"
        [ngClass]="{
          'cursor-pointer text-gray-600 hover:bg-gray-100': !isLoading
          'cursor-default pointer-events-none text-gray-400': isLoading
        }"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
}
