@if(totalItems > pageSize) {
<nav class="mt-8">
  <ul class="flex justify-center space-x-1">
    <li [class.disabled]="currentPage == 1" class="page-item">
      <a
        (click)="onClickPrevious()"
        aria-label="Previous"
        class="cursor-pointer px-4 py-2 text-gray-600 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    @for(page of pages; track page) {
    <li
      class="page-item"
      [class.active]="currentPage == page"
      (click)="onChangePage(page)"
    >
      <a
        class="cursor-pointer px-4 py-2"
        [ngClass]="{
          'bg-bright-orange text-white': currentPage == page,
          'text-gray-600 hover:bg-gray-100': currentPage != page
        }"
      >
        {{ page }}
      </a>
    </li>
    }
    <li class="page-item" [class.disabled]="currentPage == pages.length">
      <a
        (click)="onClickNext()"
        aria-label="Next"
        class="cursor-pointer px-4 py-2 text-gray-600 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
}
