<section>
  <div class="container mx-auto p-14 lg:p-16">
    <div class="flex flex-col lg:flex-row justify-center items-center">
      <header class="text-center lg:text-left">
        <h1
          class="text-5xl lg:text-7xl font-medium mb-4 lg:mr-12 mt-16 lg:mt-0"
        >
          Vehicle Dealer App
        </h1>
        <p class="text-lg text-gray-600 mb-6">
          Browse available vehicles and get yours now.
        </p>
        <a
          [routerLink]="['/vehicles']"
          class="bg-bright-orange text-white px-6 py-3 rounded-full hover:bg-burnt-orange"
        >
          Browse
        </a>
      </header>
      <picture>
        <source
          type="image/webp"
          srcset="assets/banner.webp 1x, assets/banner@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="assets/banner.png 1x, assets/banner@2x.png 2x"
        />
        <img class="w-full h-auto" src="assets/banner.png" alt="Banner" />
      </picture>
    </div>
  </div>
</section>
