<section>
  <div class="container-fluid">
    <div
      class="d-flex flex-column flex-lg-row justify-content-center align-items-center"
    >
      <header class="hero__header">
        <h1 class="hero__heading">Vehicle Dealer App</h1>
        <p class="hero__tagline">
          Browse available vehicles and get yours now.
        </p>
        <a [routerLink]="['/vehicles']" class="btn btn--accent">Browse</a>
      </header>
      <picture class="hero__picture">
        <source
          type="image/webp"
          srcset="assets/banner.webp 1x, assets/banner@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="assets/banner.png 1x, assets/banner@2x.png 2x"
        />
        <img class="hero__img" src="assets/banner.png" alt="Banner" />
      </picture>
    </div>
  </div>
</section>
