<section id="hero">
  <div class="container-fluid">
    <div class="d-flex flex-md-column flex-lg-row justify-content-center">
      <header
        class="d-flex flex-column justify-content-center"
        style="background-color: beige"
      >
        <h1>Vehicle Dealer App</h1>
        <p>Browse available vehicles and get yours now.</p>
        <a href="" class="btn btn-primary">Browse</a>
      </header>
      <picture class="" style="background-color: bisque">
        <source
          type="image/webp"
          srcset="assets/banner.webp 1x, assets/banner@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="assets/banner.png 1x, assets/banner@2x.png 2x"
        />
        <img src="assets/banner.png" alt="" />
      </picture>
    </div>
  </div>
</section>
