<h2>Vehicles</h2>
<p>
  <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>
<div class="card bg-light card-body">
  <div class="form-group">
    <label for="make">Make</label
    ><select
      name=""
      id="make"
      class="form-control"
      [(ngModel)]="filter.makeId"
      (change)="onFilterChange()"
    >
      <option value=""></option>
      @for(make of makes; track make){
      <option value="{{ make.id }}">{{ make.name }}</option>
      }
    </select>
    <button
      class="btn btn-light btn-outline-secondary"
      (click)="onResetFilter()"
    >
      Reset
    </button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Contact Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(vehicle of vehicles; track vehicle){
    <tr>
      <td>{{ vehicle.id }}</td>
      <td>{{ vehicle.make.name }}</td>
      <td>{{ vehicle.model.name }}</td>
      <td>{{ vehicle.contact.name }}</td>
      <td>
        <a [routerLink]="['/vehicles/', vehicle.id]">View</a>
      </td>
    </tr>
    }
  </tbody>
</table>
