<h2>Vehicles</h2>
<p>
  <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>
<div class="card bg-light card-body">
  <div class="form-group">
    <label for="make">Make</label
    ><select
      name=""
      id="make"
      class="form-control"
      [(ngModel)]="query.makeId"
      (change)="onFilterChange()"
    >
      <option value=""></option>
      @for(make of makes; track make){
      <option value="{{ make.id }}">{{ make.name }}</option>
      }
    </select>
    <button
      class="btn btn-light btn-outline-secondary"
      (click)="onResetFilter()"
    >
      Reset
    </button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      @for(column of columns; track column){
      <th>
        @if(column.isSortable){
        <div (click)="sortBy(column.key)">
          {{ column.title }} @if(query.sortBy === column.key){<i
            class="fa"
            [class.fa-sort-asc]="query.isSortAscending"
            [class.fa-sort-desc]="!query.isSortAscending"
          ></i
          >}
        </div>
        }@else{
        <div>{{ column.title }}</div>
        }
      </th>
      }
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(vehicle of vehicles; track vehicle){
    <tr>
      <td>{{ vehicle.id }}</td>
      <td>{{ vehicle.make.name }}</td>
      <td>{{ vehicle.model.name }}</td>
      <td>{{ vehicle.contact.name }}</td>
      <td>
        <a [routerLink]="['/vehicles/', vehicle.id]">View</a>
      </td>
    </tr>
    }
  </tbody>
</table>
