<h1>Hello World!</h1>
<h2>{{ title }}</h2>
<app-home></app-home>

<img [src]="imgUrl" alt="angular image" />

<!-- class Binding -->
<button
  [class.active]="isActive"
  [class.active-border]="isActive"
  [class.no-active]="!isActive"
  [class.no-active-border]="!isActive"
>
  Click Me
</button>

<!-- style binding -->
<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>
<button
  [style.background]="isActive ? 'red' : 'green'"
  [style.border]="isActive ? '3px green solid' : ''"
>
  Fruit Ninja
</button>

<!-- Event Binding -->
<button (click)="buttonClick()">Click Me!</button>
