<h1>Hello World!</h1>
<h2>{{ title }}</h2>
<app-home></app-home>

<img [src]="imgUrl" alt="angular image" />

<!-- class Binding -->
<button
  [class.active]="isActive"
  [class.active-border]="isActive"
  [class.no-active]="!isActive"
  [class.no-active-border]="!isActive"
>
  Click Me
</button>

<!-- style binding -->
<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>
<button
  [style.background]="isActive ? 'red' : 'green'"
  [style.border]="isActive ? '3px green solid' : ''"
>
  Fruit Ninja
</button>

<!-- Event Binding -->
<button (click)="buttonClick()">Click Me!</button>
<div><p>Key Enter</p></div>
<input type="text" (keyup)="keyEnter($event)" />
<div><p>Filtering</p></div>
<input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput" />

<!-- Two way Data Binding -->
<div>Manual Two Way Data Binding</div>
<input
  type="text"
  [value]="userName"
  #username
  (keyup.enter)="updateUsername(username)"
/>
<div>Angular Two Way Data Binding</div>
<input type="text" [(ngModel)]="userName" />

<!-- angular directives -->
<div><p>Angular Two Way Data Binding</p></div>
<h2 *ngIf="isLoggedIn">{{ userName }}</h2>

@if(isLoggedIn) {
<h3>{{ userName }}</h3>
}@else{
<h3>Hehe</h3>
}
