<h1>Hello World!</h1>
<h2>{{ title }}</h2>
<app-home></app-home>

<!-- switch case -->
<p>Angular Switch</p>
<div [ngSwitch]="userRole">
  <p *ngSwitchCase="'Admin'">Welcome, Admin</p>
  <p *ngSwitchCase="'Member'">Welcome, Member</p>
</div>

<img [src]="imgUrl" alt="angular image" />

<!-- class Binding -->
<p>Class Binding</p>
<button
  [class.active]="isActive"
  [class.active-border]="isActive"
  [class.no-active]="!isActive"
  [class.no-active-border]="!isActive"
>
  Click Me
</button>

<!-- style binding -->
<p>Style Binding</p>
<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>
<button
  [style.background]="isActive ? 'red' : 'green'"
  [style.border]="isActive ? '3px green solid' : ''"
>
  Fruit Ninja
</button>

<!-- Event Binding -->
<p>Event Binding</p>
<button (click)="buttonClick()">Click Me!</button>
<div><p>Key Enter</p></div>
<input type="text" (keyup)="keyEnter($event)" />
<div><p>Filtering</p></div>
<input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput" />

<!-- Two way Data Binding -->
<p>Two Way Data Binding</p>
<div>Manual Two Way Data Binding</div>
<input
  type="text"
  [value]="userName"
  #username
  (keyup.enter)="updateUsername(username)"
/>
<div>Angular Two Way Data Binding</div>
<input type="text" [(ngModel)]="userName" />

<!-- angular directives -->
<div><p>Angular Directives</p></div>
<h4 *ngIf="isLoggedIn; else message">User is LoggedIn</h4>
<ng-template #message>
  <h2>User is not logged in (ng-template)</h2>
</ng-template>

@if(isLoggedIn) {
<h3>{{ userName }}</h3>
}@else{
<h3>Hehe</h3>
}

<!-- If Directive with number values -->
<div><p>-- Line Separator --</p></div>

<!-- <button (click)="countLoginAttempts()" *ngIf="loginAttempts <= 3">LogIn</button>
<h4 *ngIf="loginAttempts > 3">Exceeded 3 login attempts. Try Again Later.</h4> -->

@if(loginAttempts <= 3) {
<button (click)="countLoginAttempts()">LogIn</button>
}@else{
<h4>Exceeded 3 login attempts. Try Again Later.</h4>
}

<!-- if directive with string values -->
<div><p>-- Line Separator - Directives with string values. --</p></div>

@if(userRole == 'Admin'){
<h4>Welcome, {{ userRole }}!</h4>
} @else if(userRole == 'Member'){
<h4>Welcome, {{ userRole }}!</h4>
}

<!-- ng-template -->
<div><p>-- Line Separator --</p></div>
<ng-template #dynamicTempalate>
  <p>This Content is inside ng-template</p>
</ng-template>

<ng-template #callToAction>
  <p>Call To Action</p>
  <button>Join Now</button>
</ng-template>

<div [ngTemplateOutlet]="callToAction">
  <h5>Sidebar</h5>
</div>
<div>
  <h5>Hero</h5>
</div>
<div>
  <h5>Footer</h5>
</div>

<!-- ng for directive -->
<div><p>-- Line Separator --</p></div>
<h3 *ngFor="let user of users">{{ user }}</h3>

<p>new For syntax Approach.</p>
@for (user of users; track user) {
<h3>{{ user }}</h3>
}

<p>unordered list</p>
<ul>
  @for (user of users; track user) {
  <li>{{ user }}</li>
  }
</ul>

<p>Add User to ObjArrays</p>
<button (click)="addToUserObjArray(usersObj)">Add User</button>

@if(usersObj.length == 0){
<p>No User to Display!</p>
}@else {
<p>unordered list with object array.</p>
<ul>
  @for (user of usersObj; track user) {
  <li>
    {{ user.Name }}
    <button (click)="deleteUserFromObjArray(user.Id)">Delete</button>
  </li>
  }
</ul>
}
