.picsum-img-wrapper {
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
}

.carousel-image {
  width: 100%; /* Make the image take the full width of the wrapper */
  height: 100%; /* Make the image take the full height of the wrapper */
  object-fit: cover; /* Maintain aspect ratio while filling the space */
}
