<h1>Vehicle</h1>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Vehicle</button>
    <ng-template ngbNavContent>
      @if(vehicle){
      <h2>Basics</h2>
      <ul>
        <li>Make: {{ vehicle.make.name }}</li>
        <li>Model: {{ vehicle.model.name }}</li>
        <li>Registered: {{ vehicle.isRegistered ? "Yes" : "No" }}</li>
      </ul>

      <h2>Features</h2>
      <ul>
        @for(vehicleFeature of vehicle.features; track vehicleFeature){
        <li>{{ vehicleFeature.name }}</li>
        }
      </ul>
      <h2>Contact</h2>
      <ul>
        <li>Contact Name: {{ vehicle.contact.name }}</li>
        <li>Contact Phone: {{ vehicle.contact.phone }}</li>
        <li>Contact Email: {{ vehicle.contact.email }}</li>
      </ul>
      <br />
      <p>
        @if(auth.isAuthenticated$ | async){
        <a
          class="btn btn-primary"
          [routerLink]="['/vehicles/edit/', vehicle.id]"
          >Edit</a
        >
        <button class="btn btn-danger ms-1" (click)="onDelete()">Delete</button>
        }
        <a class="btn btn-outline-secondary ms-1" [routerLink]="['/vehicles']"
          >View All Vehicles</a
        >
      </p>
      }
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Photos</button>
    <ng-template ngbNavContent>
      @if(vehicle){
      <h2>Photos</h2>
      @if(auth.isAuthenticated$ | async){
      <input type="file" (change)="onUploadPhoto()" #fileInput class="my-1" />
      } @if(progress && progress.percentage < 100){
      <div class="progress my-2">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
      } @if(photos){
      <ngb-carousel>
        @for(photo of photos; track photo){
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="{{ photo.url }}" alt="Random slide" />
          </div>
        </ng-template>
        }
      </ngb-carousel>
      } @else {
      <p>No photo to display...</p>
      } }
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
